@import "mixins", "styles";
@import "./../workspace.component.scss";

:host{
    width: 100%;
    flex: 1;
    
    
}

.workspace-user-div{
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    max-height: 45vh;

    &::-webkit-scrollbar {
        width: 8px; 
        height: 8px; 
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #999; 
        border-radius: 4px; 
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #888; 
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }
}

.user-div{
    // width: 100%;
    @include display-flex($jc: flex-start);
    border-radius: 30px;
    transition: all 125ms ease;
    padding: 4px 20px;
    margin-left: 32px;
    margin-bottom: 8px;

    &:hover{
        background-color: $bg-color-gray;
        cursor: pointer;
    }

}

.user-img{
    // margin-left: 24px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-name{
    font-size: 18px;
    margin-left: 16px;
}