<div class="workspace-section-container">
    <div class="workspace-section-header">
        <div class="section-header-title-div" (click)="toggleDropdown()">
            @if(showSubmenu){
                <img src="./../../../../assets/img/arrow_drop_down.png" class="drop-down-icon">
            } @else {
                <img src="./../../../../assets/img/arrow_drop_down1.png" class="drop-down-icon">
            }
            
            <img src="./../../../../assets/img/user_icon_bold.png" class="section-logo-icon">
            <span class="section-title">Direktnachrichten</span>
        </div>
        
    </div>

    @if(showSubmenu){
        <div class="workspace-section-submenu workspace-user-div" @submenuAnimation>
            @if (currentUser) {
                <div class="user-div">
                    <div class="user-avatar-div">
                        <img src="{{currentUser.avatar}}" class="user-img">
                        <div class="online-marker" [ngClass]="{ online: currentUser.isOnline, offline: !currentUser.isOnline }"></div>
                    </div>
                    <span class="user-name">{{currentUser.firstName + ' ' + currentUser.lastName}} (Du)</span>
                </div>
            }
            
            @for (user of allUsers; track $index) {
                <div class="user-div" [class.active]="activeUser === user" (click)="activateChat(user)">
                    <div class="user-avatar-div">
                        <img src="{{user.avatar}}" class="user-img">
                        <div class="online-marker" [ngClass]="{ online: user.isOnline, offline: !user.isOnline }"></div>
                    </div>
                    <span class="user-name">{{user.firstName + ' ' + user.lastName}}</span>
                </div>
            }
        
        </div>
    }

</div>