<div class="workspace-section-container">
    <div class="workspace-section-header">
        <div class="section-header-title-div" (click)="toggleDropdown()">
            @if(showSubmenu){
                <img src="./../../../../assets/img/arrow_drop_down.png" class="drop-down-icon">
            } @else {
                <img src="./../../../../assets/img/arrow_drop_down1.png" class="drop-down-icon">
            }
            
            <img src="./../../../../assets/img/account_circle.png" class="section-logo-icon">
            <span class="section-title">Direktnachrichten</span>
        </div>
        
    </div>

    @if(showSubmenu){
        <div class="workspace-section-submenu workspace-user-div" @submenuAnimation>
            @for (user of allUsers; track $index) {
                <div class="user-div">
                    <img src="./../../../../assets/img/avatar_1_large.png" class="user-img">
                    <span class="user-name">{{user.firstName + ' ' + user.lastName}}</span>
                </div>
            }
           

        </div>
    }

</div>