@import "mixins", "styles";

:host{
    width: 100%;
    flex: 1;
    @include display-flex($fd:column, $jc: space-between);
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
}

.dm-chat-header{
    width: 100%;
    height: 110px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include display-flex($jc: flex-start);
    padding: 32px 45px 20px 45px;
}

.active-user-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.active-user-name{
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}