@import "mixins", "styles";

:host{
    width: 100%;
    height: 100%;
    @include display-flex($fd:column, $jc: flex-start);

    >app-chat-history {
        flex: 1; 
        min-height: 0; 
        overflow: hidden; 
      }
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
    margin-top: 56px;
}

.dm-chat-header{
    width: 100%;
    height: 96px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include display-flex($jc: flex-start);
    padding: 32px 45px 20px 45px;
}

.active-user-div{
    @include display-flex();
    border-radius: 30px;
    padding: 4px 8px;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
    }
}

.active-user-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.active-user-name{
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}

.profile-dialog-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 400;
}