<div class="dm-chat-header">
    <div class="active-user-div" (click)="showUserProfile()">
        <img src="{{activeChatUser?.avatar}}" class="active-user-img">
        <span class="active-user-name">{{activeChatUser?.firstName + ' ' + activeChatUser?.lastName}}</span>
    </div>
    
</div>

<app-chat-history
    [usedFor]="'dm-chat'"
    [userData]="activeChatUser"
></app-chat-history>


<div class="chat-input-container">
    <app-chat-input
        [usedFor]="'dm-chat'"
        [userData]="activeChatUser"
    ></app-chat-input>
</div>


@if(userProfileOpened){
    <div class="profile-dialog-bg" (click)="hideUserProfile()">
        <app-user-profile
            [otherUser]="activeChatUser"
            [usedFor]="'otherProfile'"
            (closeProfile)="hideUserProfile()"
        ></app-user-profile>
    </div>
}