<form class="auth-form">
  <app-auth-header
    title="Passwort zurücksetzen"
    info="Bitte geben Sie ihre E-Mail-Adresse ein."
    [showIconContainer]="true"
  ></app-auth-header>

  <div class="auth-input-container">
    <input
      class="auth-input"
      type="email"
      placeholder="beispielname@email.com"
      [(ngModel)]="email"
      name="email"
      #emailInput="ngModel"
      required
      email
    />
    <img
      class="auth-input-icon"
      src="./../../assets/img/mail_icon.png"
      alt="password_icon"
    />
    <span
      class="invalid-input"
      [class.is-invalid]="
        emailInput.invalid && emailInput.touched && emailInput.value != ''
      "
    >
      Diese E-Mail-Adresse ist leider ungültig.
    </span>
  </div>

  <span class="email-send-info">
    Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.
  </span>
 
  <div class="auth-button-container align-self-flex-end">
    <button
      [disabled]="
        !emailInput.valid
      "
      name="checkbox"
      type="submit"
      class="primary-button"
      (click)="sendPasswordResetMail()"
    >
      E-Mail senden
    </button>
  </div>
</form>
<app-toast></app-toast>