@import "mixins", "styles";

:host{
    width: 100%;
}

.channel-chat-header{
    width: 100%;
    // height: 96px;
    @include display-flex($jc:space-between);
    box-shadow: 0px 4px 10px 0px  rgba(0, 0, 0, 0.08);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 45px;
    flex-wrap: wrap;

}

.channel-title-div{
    @include display-flex;
    border-radius: 30px;
    padding: 6px 10px;
    transition: all 125ms ease;
    position: relative;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
        color: $primary-color-purple;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(2454%) hue-rotate(231deg) brightness(93%) contrast(104%);
    }
}

.active{
    background-color: $bg-color-gray;
    color: $primary-color-purple;

    >img {
        filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(2454%) hue-rotate(231deg) brightness(93%) contrast(104%);
    }
}

.channel-title{
    font-weight: 700;
    font-size: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.channel-members-div{
    @include display-flex();
    height: 46px;
}

.avatar-container{
    @include display-flex();
    height: 100%;
}

.member-number-span{
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    
}

.icon-container{
    background-color: $bg-color-gray;
    position: relative;

    &:hover img{
        transform: scale(1.05);
    }
}

.show-members-div{
    @include display-flex();
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
    transition: all 125ms ease;
    position: relative;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
        color: $primary-color-purple;
    }
       
}

.show-member-dialog-div{
    position: absolute;
    top: 500px;
    z-index: 300;

}

.avatar-img-small{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}


.edit-channel-dialog-container{
    position: absolute;
    z-index: 1000;
    top: 56px;
    left: 0px;
    color: black;
    cursor: default;
}

.show-members-dialog-container{
    position: absolute;
    z-index: 1000;
    top: 32px;
    right: 415px;
    color: black;
    cursor: default;
}

.add-members-dialog-container{
    position: absolute;
    z-index: 1000;
    top: 48px;
    right: 514px;
    color: black;
    cursor: default;
}

.add-members-div{
    position: relative;
}


@media(max-width: 650px){
    .show-members-div{
        display: none;
    }

    .channel-chat-header{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
  }

  @media(max-width: 1100px){
    .edit-channel-dialog-container{
        left: -200px;
    }
  }

  @media(max-width: 900px){
    .edit-channel-dialog-container{
        left: 0px;
    }
  }

  @media(max-width: 600px){
    .edit-channel-dialog-container{
        left: -30px;
    }
    .add-members-dialog-container{
        right: 450px;
    }
    .channel-chat-header{
        padding: 25px 25px;

    }
  }

@media(max-width: 525px){
    .add-members-dialog-container{
        position: fixed;
        right: unset;
        left: 25px;
        top: 190px;
    }

    .channel-chat-header{
        padding: 25px 16px;
    }
}


@media(max-width: 400px){
    .channel-chat-header{
        padding: 25px 8px;
    }

    .channel-title-div{
        padding: 6px 5px;

        >img{
            width: 24px;
            height: 24px;
        }
    }

    .channel-title{
        margin-left: 1px;
        margin-right: 4px;
        font-size: 20px;
    }
}
