<div class="channel-chat-header">
    <div class="channel-title-div" #channelTitleDiv (click)="openEditChannelDialog()" [ngClass]="{ 'active' : editChannelDialogOpened }">
        <img src="./../../../../assets/img/tag_large.png">
        <span class="channel-title">{{activeChannelData?.name}}</span>
        <img src="./../../../../assets/img/drop_down_arrow.png">

        @if(editChannelDialogOpened){
            <div class="edit-channel-dialog-container">
                <app-edit-channel-dialog
                    [allUsers]="allUsers"
                    (dialogClosed)="closeEditChannelDialog()"
                ></app-edit-channel-dialog>
            </div>
        }
    </div>

    <div class="channel-members-div">
        <div class="show-members-div" #showMembersDiv (click)="openShowMembersDialog()">
            <div class="avatar-container">
                @for (user of activeChannelUsers; track $index) {
                    <img class="avatar-img-small" [src]="user.avatar" [ngStyle]="{
                        'margin-left': $index === 0 ? '0px' : '-10px',
                        'z-index': $index
                      }">
                }
            </div>

            @if(activeChannelUsers.length > 0){
                <span class="member-number-span">{{activeChannelUsers.length}}</span>
            }

            @if(showMembersDialogOpened){
                <div class="show-members-dialog-container">
                    <app-show-members-dialog
                        [channelData]="activeChannelData"
                        [channelUsers]="activeChannelUsers"
                        (dialogClosed)="closeShowMembersDialog()"
                        (addMembersDialogOpened)="openAddMembersDialog()"
                    ></app-show-members-dialog>
                </div>
            }
            
        </div>
        
        <div class="add-members-div" #addMembersDiv>
            <div class="icon-container"  (click)="openAddMembersDialog()">
                <img src="./../../../../assets/img/person_add.png">
            </div>

            @if(addMembersDialogOpened && activeChannelData){
                <div class="add-members-dialog-container">
                    <app-add-members-dialog
                        [allUsers]="allUsers"
                        [channelData]="activeChannelData"
                        (dialogClosed)="closeAddMembersDialog()"
                    ></app-add-members-dialog>
                </div>
            }
        </div>
        

    </div>

</div>