@import "mixins", "styles";

:host{
    
    max-height: 58vh;
    width: 100%;
    @include display-flex($fd: column, $jc: flex-end);
    flex: 1;
    margin-bottom: 40px;
}

.history-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
   
    // @include display-flex($jc: flex-end, $fd: column);
    // padding-bottom: 56px;
    overflow: auto;
    padding: 24px 0;
}