@import "mixins", "styles";

:host {
  max-height: 55vh;
  width: 100%;
  flex: 1;
  margin-bottom: 40px;
  overflow-x: visible;
}

.history-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: visible;
  padding: 24px 0;
}

.seperator-div {
  width: 100%;
  @include display-flex();
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.answer-count {
  font-size: 18px;
  color: rgba(173, 176, 217, 1);
  margin-right: 16px;
}

.seperator {
  border: 1px solid rgba(173, 176, 217, 1);
  height: 1px;
  flex: 1;
}

.answers-div {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  flex: 1;
}

.default-dm-view {
  @include display-flex($fd: column, $ai: flex-start);
  margin-left: 48px;
  margin-bottom: 8px;
}

.user-div, .channel-div {
  @include display-flex($ai: flex-end);
}

.large-user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name-span {
  font-size: 24px;
  font-weight: 700;
  margin-left: 24px;
}

.channel-name-span{
  font-size: 24px;
  font-weight: 700;
  margin-left: 0px;
}

.info-span {
  margin-top: 24px;
  font-size: 20px;
  color: rgba(104, 104, 104, 1);
}

.blue {
  color: rgba(83, 90, 241, 1);
  transition: all 125ms ease;

  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.profile-dialog-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 400;
}