@import "mixins", "styles";

:host{
    
    max-height: 58vh;
    width: 100%;
    @include display-flex($fd: column, $jc: flex-end);
    flex: 1;
    margin-bottom: 40px;
}

.history-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
   
    // @include display-flex($jc: flex-end, $fd: column);
    // padding-bottom: 56px;
    overflow: auto;
    padding: 24px 0;


    &::-webkit-scrollbar {
        width: 8px; 
        height: 8px; 
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #999; 
        border-radius: 4px; 
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #888; /* Darker thumb on hover */
      }
    
      &::-webkit-scrollbar-track {
        background: transparent; /* Transparent track for a clean look */
      }
}