@import "mixins", "styles";

:host{
    max-height: 57vh;
    width: 100%;
    flex: 1;
    margin-bottom: 40px;
}

.history-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 24px 0;


    &::-webkit-scrollbar {
        width: 8px; 
        height: 8px; 
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #999; 
        border-radius: 4px; 
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #888; 
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }
}


.seperator-div{
  width: 100%;
  @include display-flex();
  padding: 0 16px;
}

.answer-count{
  font-size: 18px;
  color: rgba(173, 176, 217, 1);
  margin-right: 16px;
}

.seperator{
  border: 1px solid rgba(173, 176, 217, 1);
  height: 1px;
  flex: 1;
}

.answers-div{
  width: 100%;
  flex: 1;
}