@import "mixins", "styles";

:host {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}

.thread-container{
    background-color: white;
    flex: 1;
    width: 500px;
    border-radius: 30px;
    @include display-flex($fd: column, $jc: flex-start);
}

.thread-header{
    width: 100%;
    height: 104px;
    @include display-flex($jc: space-between);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 32px 40px;
}

.title-div{
    @include display-flex();
}

.thread-title{
    font-size: 24px;
    font-weight: 700;
}

.channel-title{
    font-size: 14px;
    color: $primary-color-purple;
    margin-left: 10px;
}


.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
    margin-top: 48px;
}

