<div class="thread-container">
    <div class="thread-header">
        <div class="title-div">
            <span class="thread-title">Thread</span>
            <span class="channel-title"># Entwicklerteam</span>
        </div>
        
        <div class="icon-container" (click)="closeThread()">
            <img src="./../../../assets/img/close.png" >
        </div>
    </div>

    <app-chat-history [usedFor]="'thread'"></app-chat-history>


    <div class="chat-input-container">
        <app-chat-input [usedFor]="'thread'"></app-chat-input>
    </div>
   
</div>
