<div class="thread-container">
    <div class="thread-header">
        <div class="title-div">
            <span class="thread-title">Thread</span>
            @if(activeChannel){
                <span class="channel-title">#{{activeChannel.name}}</span>
            } @else {
                <span class="channel-title">&#64;{{activeChatUser?.firstName + ' ' + activeChatUser?.lastName}}</span>
            }
        </div>
        
        <div class="icon-container" (click)="closeThread()">
            <img src="./../../../assets/img/close.png" >
        </div>
    </div>

    <app-chat-history 
        [activeMessage]="activeMessage"
        [channelData]="activeChannel"
        [userData]="activeChatUser"
        [usedFor]="'thread'">
    </app-chat-history>


    <div class="chat-input-container">
        <app-chat-input 
            [activeMessage]="activeMessage"
            [channelData]="activeChannel"
            [userData]="activeChatUser"
            [usedFor]="'thread'">
        </app-chat-input>
    </div>
   
</div>
