@import "mixins", "styles";

.dialog {
  @include display-flex($fd: column, $gap: 15px);
  // @include position(absolute, 112px, $rig: 16px);
  @include size(282px, 181px);
  background: $primary-color-white;
  border-radius: 30px 0 30px 30px;
  box-shadow: $primary-box-shadow;
  padding: 30px;
  z-index: 1700;
  position: fixed;
}

.dialog-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 800;
}

button {
  @include size(222px, 53px);
  border-radius: 100px;
  border: none;
  padding: 10px 45px;
  @include font-style($font-size-24, $font-weight-600, $text-color-black);
  background: $primary-color-white;
  transition: 225ms ease-in-out;
  &:hover {
    cursor: pointer;
    @include font-style(
      $font-size-24,
      $font-weight-700,
      $highlight-color-purple
    );
    background-color: $bg-color-gray;
  }
}

.dialog-bg {
  @include position(fixed, 0, 0, $zi: 1000);
  @include size(100vw, 100dvh);
  background-color: rgba(0, 0, 0, 0.2);
}
