@import "mixins", "styles";

:host{
    height: 100%;
    width: 100%;
}

.history-container{
    height: 100%;
    width: 100%;
    @include display-flex($jc: flex-end, $fd: column);
    padding-bottom: 56px;
}