@import "mixins", "styles";

:host {
  @include display-flex($fd: column, $jc: flex-start);
  @include size($height: 100%);
  flex: 1;
}

.main-chat-container {
  @include display-flex($fd: column, $jc: flex-start);
  @include size(100%, 100%);
  // min-width: 400px;
  max-width: 100%;
  border-radius: 30px;
  background-color: $primary-color-white;
  height: 86.5vh;

  >app-thread{
    width: 100%;
  }

  >app-workspace{
    width: 100%;
  }
}
