@import "mixins", "styles";

.main-page-bg {
  @include display-flex($fd: column);
  @include size(100vw, 100dvh);
  background: $bg-color-gray;
  overflow: hidden;
}

.main-page-container {
  @include display-flex($fd: column, $jc: flex-start);
  background-color: $bg-color-gray;
  @include size(100%, 100%);
  max-width: $desktop-full-hd;
  overflow: hidden;
}

.main-content-div {
  @include display-flex($jc: flex-start, $gap: 16px, $ai: flex-start);
  @include size(100%, 100%);
  padding: 0 16px 16px 16px;
  height: 100%;

  > app-workspace {
    flex: 1 1 auto; 
  }

  > app-main-chat {
    flex: 1 1 auto; 
  }

  // > app-thread {
  //   flex: 0 0 auto; /* Fixed width, does not shrink or grow */
  // }
}



@media(max-width:1100px){
  .thread-container{
    display: none;
  }
}


@media(max-width: 900px){
  .workspace-container{
    display: none;
  }
}

@media(max-width: 650px){
  .main-content-div{
    padding: 0;
  }
}