@import "mixins", "styles";

.main-page-bg {
  @include display-flex($fd: column);
  @include size(100vw, 100dvh);
  background: $bg-color-gray;
  overflow: hidden;
}

.main-page-container {
  @include display-flex($fd: column, $jc: flex-start);
  background-color: $bg-color-gray;
  @include size(100%, 100%);
  max-width: $desktop-full-hd;
  overflow: hidden;
}

.main-content-div {
  @include display-flex($jc: flex-start, $gap: 16px);
  @include size(100%, 100%);
  padding: 0 16px 16px 16px;
  height: 100%;

  > app-workspace {
    flex: 0 0 auto; /* Fixed width, does not shrink or grow */
  }

  > app-main-chat {
    flex: 1 1 auto; /* Flexible width, shrinks and grows as needed */
    // min-width: 400px; /* Optional: Define a minimum width to prevent it from collapsing too much */
  }

  // > app-thread {
  //   flex: 0 0 auto; /* Fixed width, does not shrink or grow */
  // }
}



@media(max-width:1100px){
  .thread-container{
    display: none;
  }
}