<div class="main-page-bg">
  <div class="main-page-container">
    <app-header class="width-100 pad-16"></app-header>
    <div class="main-content-div">

      <div class="workspace-container">
        <app-workspace
          (dialogStateChange)="handleDialogStateChange($event)"
        ></app-workspace>
      </div>
      
      <app-main-chat></app-main-chat>

      @if(threadActivated){
        <div class="thread-container">
          <app-thread></app-thread>
        </div>
      }
    </div>
  </div>

  @if(addChannelDialogOpened){
  <app-add-channel-dialog
    (dialogStateChange)="handleDialogStateChange($event)"
  ></app-add-channel-dialog>
  }
</div>
<app-toast></app-toast>
