@import "mixins", "styles";

:host{
    width: 100%;
    flex: 1;
    @include display-flex($fd:column);
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
}

.default-chat-header{
    @include display-flex($fd: column, $ai: flex-start, $jc: flex-start);
    padding: 32px 45px 20px 45px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: 160px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    >input{
        width: 100%;
        height: 55px;
        border-radius: 30px;
        border: 1px solid rgba(173, 176, 217, 1);
        padding: 15px 20px;
        margin-top: 20px;
        font-size: 18px;

        &:focus{
            outline: none;
            border: 1px solid $highlight-color-purple;
        }
    }
}

.title{
    font-size: 24px;
    font-weight: 700;
}