<div class="default-chat-header">
    <span class="title">Neue Nachricht</span>
    <div class="input-container">
        <span class="input-prefix">An:</span>
        <input type="text" [(ngModel)]="inputValue" (keyup)="checkInputValue()" (blur)="checkForValidReceiverInput()">
        @if(displayCustomPlaceholder){
            <span class="custom-placeholder">#channel, oder &#64;jemand oder E-Mail Adresse</span>
        }
    </div>

    @if(displayInvalidReceiverMsg){
        <div class="drop-down-div">
            <span class="warning-span">Bitte einen gültigen Empfänger eingeben</span>
        </div>
    }
    

    @if(showChannelDropdown){
        <div class="drop-down-div">
            <div class="scroll-div">
                @for (channel of filteredChannels; track $index) {
                    <div class="channel-title-div">
                        <div class="channel-title-container" (click)="setReceiver(channel)">
                            <img src= './../../../../assets/img/tag2.png'>
                            <span class="channel-title">{{channel.name}}</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    }@else if(showUserDropdown){
        <div class="drop-down-div">
            <div class="scroll-div">
                @for (user of filteredUsers; track $index) {
                    <div class="user-div" (click)="setReceiver(user)">
                        <div class="user-avatar-div">
                            <img src="{{user.avatar}}" class="user-img">
                        </div>
                        <span class="user-name">{{user.firstName + ' ' + user.lastName}}</span>
                    </div>
                }
            </div>
        </div>
    }
</div>

<app-chat-history></app-chat-history>

<div class="chat-input-container">
    <app-chat-input
        [usedFor]="'default'"
    ></app-chat-input>
</div>
