@import "mixins", "styles";

:host{
    width: 100%;
    flex: 1;
    @include display-flex($fd:column);
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
}

.default-chat-header{
    @include display-flex($fd: column, $ai: flex-start, $jc: flex-start);
    padding: 32px 45px 20px 45px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: 160px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;

}

.input-container{
    position: relative;
    width: 100%;
    height: 55px;

    >.input-prefix{
        position: absolute;
        left: 24px;
        top: 36px;
        font-size: 18px;
        color: rgb(117, 117, 117);
    }

    >.custom-placeholder{
        position: absolute;
        left: 56px;
        top: 36px;
        font-size: 18px;
        color: rgb(117, 117, 117);
        pointer-events: none;
    }

    >input{
        width: 100%;
        height: 55px;
        border-radius: 30px;
        border: 1px solid rgba(173, 176, 217, 1);
        padding: 15px 20px 15px 55px;
        margin-top: 20px;
        font-size: 18px;

        &:focus{
            outline: none;
            border: 1px solid $highlight-color-purple;
        }

        &:focus + .custom-placeholder{
            opacity: 0;
        }
    }
}


.title{
    font-size: 24px;
    font-weight: 700;
}

.drop-down-div{
    position: absolute;
    top: 130px;
    left: 80px;
    background-color: white;
    border-radius: 12px;
    padding: 12px 0px;
    box-shadow: 0px 6px 10px 0px #00000033;
}

.scroll-div{
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 24px;
}


.user-div{
    @include display-flex($jc: flex-start);
    border-radius: 30px;
    transition: all 125ms ease;
    padding: 4px 20px;
    margin-bottom: 8px;
    width: 100%;

    &:hover{
        background-color: $bg-color-gray;
        cursor: pointer;
    }
}

.user-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}


.channel-title-div{
    width: 100%;
    height: 33px;
    margin-bottom: 8px;
}

.channel-title-container{
    @include display-flex($jc:flex-start);
    width: 240px;
    height: 100%;
    border-radius: 30px; 
    transition: all 125ms ease;
    padding: 4px 16px;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
        color: $primary-color-purple;
        font-weight: 700;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(24%) sepia(92%) saturate(2852%) hue-rotate(233deg) brightness(96%) contrast(98%);
    }
}

.channel-title{
    font-size: 18px;
    margin-left: 8px;
}

.warning-span{
    color: red;
    margin: 16px;
}


@media(max-width: 650px){
    .default-chat-header{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;  
  }
}


@media(max-width: 950px) and (min-width: 900px){
    .input-container{   
    
        >.custom-placeholder{
            top: 38px;
            font-size: 16px;
        }
    }
}

@media(max-width: 560px){
    .input-container{
    
        >.custom-placeholder{
            top: 38px;
            font-size: 16px;
        }
    }
    .default-chat-header{
        padding: 32px 24px 20px 45px;

    }
}

@media(max-width: 475px){
    .input-container{
    
        >.custom-placeholder{
            position: absolute;
            left: 56px;
            top: 30px;
            font-size: 16px;
            margin-right: 8px;
            
        }
    }
}

@media(max-width: 350px){
    .default-chat-header{
        padding: 32px 16px 20px 45px;
    }
}