<section class="user-profile" [ngClass]="{'centralized': usedFor === 'otherProfile'}" (click)="$event.stopPropagation()">
  @if(isEmailVerified && !isPasswordRequired) {
  <header>
    <span>Profil</span>
    <div (click)="onClose()" class="icon-container">
      <img src="../../../assets/img/close.png" alt="close" />
    </div>
  </header>

  @if(!isEditing) {
  <section class="user-avatar">
    <img [src]="user?.avatar" class="selected-avatar" alt="user-avatar" />
  </section>

  <section class="user-info">
    <div class="user-info-wrapper">
      <span class="user-name">
        {{ user?.firstName }} {{ user?.lastName }}
      </span>
      <div class="user-online-status-wrapper">
        <span
          [ngClass]="user?.isOnline ? 'online' : 'offline'"
          class="user-online-status-dot"
        ></span>
        <span
          [ngClass]="user?.isOnline ? 'online' : 'offline'"
          class="user-online-status-text"
          >Aktiv</span
        >
      </div>
    </div>

    @if(isOwnProfile && !isEditing) {
    <span (click)="toggleEdit()" class="edit-user"> Bearbeiten </span>
    }
  </section>
  } @if(!isEditing) {
  <section class="user-email-address">
    <header>
      <img src="../../../assets/img/mail_icon_bold.png" alt="mail_icon_bold" />
      <span>E-Mail-Adresse</span>
    </header>
    <a [attr.href]="'mailto:' + user?.email" class="user-email">{{
      user?.email
    }}</a>
  </section>

  } @if(isEditing) {
  <form
    class="user-edit-form"
    id="user-edit-form"
    (ngSubmit)="saveEditingChanges()"
    #editUserForm="ngForm"
  >
    <div class="selected-avatar-container">
      <img
        [src]="selectedAvatar"
        alt="selected_avatar"
        class="selected-avatar user-edit-selected-avatar"
        (mouseenter)="openAvatarList()"
      />

      @if(isAvatarListOpen) {
      <section
        class="user-edit-avatar-selection avatar-selection"
        (mouseenter)="openAvatarList()"
        (mouseleave)="closeAvatarList()"
      >
        <div class="user-edit-avatar-options avatar-options">
          <img
            *ngFor="let avatar of avatars"
            [src]="avatar.thumb"
            [alt]="avatar.name"
            class="avatar-option"
            (click)="selectAvatar(avatar.image)"
          />
        </div>
      </section>
      }
    </div>

    <section (mouseenter)="closeAvatarList()" class="user-edit-container">
      <div class="user-edit-wrapper">
        <div class="user-edit-name-input-header">
          <img
            src="../../../assets/img/user_icon_bold.png"
            alt="user_icon_bold"
          />
          <span>Vollständiger Name</span>
        </div>

        <div class="auth-input-container">
          <input
            class="auth-input"
            type="text"
            [placeholder]="user ? user.firstName + ' ' + user.lastName : ''"
            [(ngModel)]="userEditfullName"
            name="fullName"
            #userEditfullNameInput="ngModel"
            pattern="[a-zA-ZÀ-ž\s\-]+"
          />
          <img
            class="auth-input-icon"
            src="./../../assets/img/user_icon.png"
            alt="user_icon"
          />
          <span
            class="invalid-input"
            [class.is-invalid]="
              userEditfullNameInput.invalid &&
              userEditfullNameInput.touched &&
              userEditfullNameInput.value != ''
            "
          >
            Dieser Name ist leider ungültig.
          </span>
        </div>
      </div>

      <div class="user-edit-wrapper">
        <div class="user-edit-name-input-header">
          <img
            src="../../../assets/img/mail_icon_bold.png"
            alt="user_icon_bold"
          />
          <span>E-Mail-Adresse</span>
        </div>

        <div class="auth-input-container">
          <input
            class="auth-input"
            type="text"
            [placeholder]="user ? user.email : ''"
            [(ngModel)]="userEditEmail"
            name="userEditEmail"
            #userEditEmailInput="ngModel"
            email
          />
          <img
            class="auth-input-icon"
            src="./../../assets/img/mail_icon.png"
            alt="user_icon"
          />
          <span
            class="invalid-input"
            [class.is-invalid]="
              userEditEmailInput.invalid &&
              userEditEmailInput.touched &&
              userEditEmailInput.value != ''
            "
          >
            Diese E-Mail-Adresse ist leider ungültig.
          </span>
        </div>
      </div>

      <div class="user-edit-button-container">
        <button (click)="toggleEdit()" class="secondary-button">
          Abbrechen
        </button>
        <button
          [disabled]="
            isSubmitDisabled() &&
            (userEditfullNameInput.valid || userEditEmailInput.valid)
          "
          type="submit"
          class="primary-button"
        >
          Speichern
        </button>
      </div>
    </section>
  </form>

  } } @if(!isEmailVerified) {
  <section class="verification-info">
    <span>
      Ihr Account ist nicht verifiziert, bitte schließen Sie die Verifizierung
      ab bevor Sie Ihren Account bearbeiten.
    </span>
    <button
      type="button"
      (click)="sendVerificationMail()"
      class="primary-button"
    >
      Verifizierungs E-Mail senden
    </button>
  </section>
  } @if(isPasswordRequired) {
  <section class="password-verification" (click)="$event.stopPropagation()">
    <span class="password-verification-info"
      >Für die Änderung der E-Mail-Addresse wird eine Verifizierung benötigt, bitte verifizieren Sie sich mit Ihrem Passwort.</span
    >
    <div class="auth-input-container">
      <input
        class="auth-input"
        type="password"
        placeholder="Passwort bestätigen"
        [(ngModel)]="verificationPassword"
        name="verificationPassword"
        required
        minlength="8"
        [type]="
          passwordVisibilityService.isPasswordVisible ? 'text' : 'password'
        "
      />
      <div class="auth-input-icon-container" (click)="togglePassword()">
        <img
          class="auth-input-icon-hover"
          src="./../../assets/img/password_icon.png"
          alt="password_icon"
        />
      </div>
    </div>

    <div class="auth-button-container">
      <button class="secondary-button" (click)="togglePasswordVerification()">
        Abbrechen
      </button>
      <button class="primary-button" (click)="confirmPassword()">
        Passwort bestätigen
      </button>
    </div>
  </section>
  }
</section>

<app-toast></app-toast>
