@import "mixins", "styles";

.user-profile {
  @include size(500px);
  min-height: fit-content;
  @include display-flex($fd: column, $ai: inherit, $jc: inherit, $gap: 24px);
  @include position(absolute, $top: 112px, $rig: 16px);
  background: $primary-color-white;
  padding: 45px 40px;
  border-radius: 30px 0 30px 30px;
  box-shadow: $primary-box-shadow;
  > header {
    @include display-flex($jc: space-between);
    > span {
      @include font-style($font-size-24, $font-weight-700, $text-color-black);
    }
  }
}

.user-profile.centralized {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  border-radius: 30px;
}

.user-avatar,
.user-info {
  @include display-flex($jc: space-between);
}

.user-avatar {
  align-self: center;
}

.user-info {
  > .user-info-wrapper {
    @include display-flex($fd: column, $gap: 15px);
    > .user-name {
      @include font-style($font-size-32, $font-weight-700, $text-color-black);
    }
  }
}

.edit-user {
  @include font-style($font-size-16, $font-weight-600, $highlight-color-purple);
  align-self: center;
  transition: 225ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: $secondary-color-purple;
  }
}

.user-online-status-wrapper {
  @include display-flex($gap: 15px);
  align-self: flex-start;
  > .user-online-status-dot {
    @include size(16px, 16px);
    border-radius: 50%;

    &.online {
      background-color: $online-color-green;
    }

    &.offline {
      background-color: $error-color-red;
    }
  }

  > .user-online-status-text {
    @include font-style($font-size-20, $font-weight-400);

    &.online {
      color: $online-color-green;
    }

    &.offline {
      color: $error-color-red;
    }
  }
}

.user-email-address {
  @include display-flex($fd: column, $ai: flex-start, $gap: 30px);
  width: 70%;
  > header {
    @include display-flex($jc: flex-start, $gap: 15px);
    > span {
      @include font-style($font-size-20, $font-weight-700, $text-color-black);
    }
  }
  > .user-email {
    @include font-style($font-size-18, $font-weight-500, $highlight-color-cyan);
    transition: 225ms ease-in-out;
    text-decoration: none;
    align-self: flex-end;
    &:hover {
      cursor: pointer;
      color: $secondary-color-purple;
    }
  }
}

.user-edit-form {
  @include display-flex($fd: column, $gap: 20px);
}

.user-edit-container {
  @include display-flex($fd: column, $gap: 20px);
  @include size(100%);
  > .user-edit-wrapper {
    @include display-flex($fd: column, $ai: flex-start, $gap: 12px);
    @include size(100%);
  }
}

.user-edit-selected-avatar {
  transition: 225ms ease-in-out;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.user-edit-avatar-selection {
  @include position(absolute, 30px, 16px, $zi: 4);
  @include size(240px);
  padding: 12px;
  border-radius: 30px 30px 0 30px;
  box-shadow: $primary-box-shadow;
  background: $primary-color-white;
  transition: 225ms ease-in-out;
}

.user-edit-avatar-options {
  flex-wrap: wrap;
  gap: 8px !important;
}

.user-edit-name-input-header {
  @include display-flex($jc: flex-start, $gap: 20px);
  > span {
    @include font-style($font-size-20, $font-weight-700, $text-color-black);
  }
}

.user-edit-button-container {
  @include display-flex($gap: 40px);
}

.password-verification {
  @include display-flex($ai: center, $fd: column, $gap: 24px);
  transition: 225ms ease-in-out;
  text-align: center;
}

.verification-info {
  @include display-flex($jc: center, $fd: column, $gap: 60px);
  @include size(100%, 100%);
  text-align: center;
  > span {
    @include font-style($font-size-20, $font-weight-700, $text-color-black);
  }
}

.password-verification-info {
  @include font-style($font-size-20, $font-weight-700, $text-color-black);
}

@media only screen and (max-width: $mobile-large) {
  .user-profile {
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    padding: 32px 28px;
  }

  .user-info > .user-info-wrapper > .user-name {
    font-size: $font-size-24;
  }

  .edit-user {
    font-size: $font-size-14;
  }

  .user-online-status-wrapper {
    > .user-online-status-dot {
      @include size(12px, 12px);
    }
    > .user-online-status-text {
      font-size: $font-size-16;
    }
  }

  .user-email-address {
    width: 100%;
    > header {
      > span {
        font-size: $font-size-16;
      }
      > img {
        @include size(24px, 24px);
      }
    }
    > .user-email {
      font-size: $font-size-16;
      display: flex;
      align-self: center;
    }
  }
}
