<form class="auth-form">
  <app-auth-header
    title="Passwort zurücksetzen"
    info="Bitte geben Sie ihr neues Passwort ein."
    [showIconContainer]="false"
  ></app-auth-header>

  <main class="auth-inputs">
    <div class="auth-input-container">
      <input
        class="auth-input"
        type="password"
        placeholder="Neues Passwort"
        [(ngModel)]="password"
        name="password"
        #passwordInput="ngModel"
        required
        minlength="8"
        [type]="
          passwordVisibilityService.isPasswordVisible ? 'text' : 'password'
        "
      />
      <div class="auth-input-icon-container" (click)="togglePassword()">
        <img
          class="auth-input-icon-hover"
          src="./../../assets/img/password_icon.png"
          alt="password_icon"
        />
      </div>
      <span class="invalid-input" [class.is-invalid]="
      passwordInput.touched &&
      password.length > 0 &&
      (getPasswordError('confirmPassword') !== '')
    ">
        {{
          getPasswordError("password") || "Die Passwörter müssen übereinstimmen"
        }}
      </span>
    </div>

    <div class="auth-input-container">
      <input
        class="auth-input"
        type="password"
        placeholder="Neues Passwort bestätigen"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        #confirmPasswordInput="ngModel"
        required
        minlength="8"
        [type]="
          passwordVisibilityService.isPasswordVisible ? 'text' : 'password'
        "
      />
      <div class="auth-input-icon-container" (click)="togglePassword()">
        <img
          class="auth-input-icon-hover"
          src="./../../assets/img/password_icon.png"
          alt="password_icon"
        />
      </div>
      <span class="invalid-input" [class.is-invalid]="
      confirmPasswordInput.touched &&
      confirmPassword.length > 0 &&
      (getPasswordError('confirmPassword') !== '')
    ">
        {{
          getPasswordError("confirmPassword") ||
            "Die Passwörter müssen übereinstimmen"
        }}
      </span>
    </div>

    <div class="auth-button-container align-self-flex-end">
      <button
        [disabled]="!isResetFormValid()"
        name="checkbox"
        type="submit"
        class="primary-button"
        (click)="setNewPassword()"
      >
        Passwort ändern
      </button>
    </div>
  </main>
</form>

<app-toast></app-toast>
