@import "mixins", "styles";

:host{
    width: 100%;
    padding: 0 30px;
    margin-bottom: 24px;
}


.seperator-div{
    width: 100%;
    @include display-flex();
}

.seperator-line{
    border: 1px solid rgba(173, 176, 217, 0.4);
    flex: 2;
    
}

.day-div{
    @include display-flex();
    height: 35px;
    border: 1px solid rgba(173, 176, 217, 1);
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 18px;
}