<div class="chat-input">
    <textarea  
        #messageInput
        [placeholder]="
            usedFor === 'channel'
            ? 'Nachricht an #' + sendMessagesTo
            : usedFor === 'default'
            ? 'Starte eine neue Nachricht'
            : usedFor === 'dm-chat'
            ? 'Nachricht an ' + sendMessagesTo
            : 'Antworten...'
          "
        [(ngModel)]="newMessage.messageText" 
        (keydown.enter)="onEnter($event)">
    </textarea>

    <div class="chat-input-action-div">
        <div class="add-elements">
            <div class="action-icon-container" (click)="toggleEmoticonsDiv()" (clickOutside)="hideEmoticonsDiv()">
                <img src="./../../../assets/img/emoji_reaction.png">

                @if(emoticonsDivOpened){
                    <div class="emoji-mart-container" (click)="onEmojiMartClick($event)" >
                        <emoji-mart (emojiSelect)="addEmoji($event)" set="google" [i18n]="{ search: 'Suchen', categories: { search: 'Suchergebnisse', recent: 'Kürzlich verwendet' } }"
                        [enableSearch] = "false" [showPreview]="false"  class="custom-emoji-mart" [emojiSize]=28 ></emoji-mart>
                    </div>
                }
                
            </div>
            <div class="action-icon-container">
                <img src="./../../../assets/img/at_reaction.png">
            </div>
        </div>
        <img src="./../../../assets/img/send.png" class="send-icon" (click)="sendMessage()">
    </div>
</div>