@import "mixins", "styles";

:host{
    flex:1;
    padding: 30px;
}

.chat-input{
    flex: 1;
    height: 145px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    margin-bottom: 64px;
    padding: 20px 20px 0 20px;
    @include display-flex($fd: column, $jc:space-between, $ai: flex-start);

    &:hover{
        cursor: pointer;
        border: 1px solid $highlight-color-purple;
    }

    >textarea{
        width: 100%;
        flex: 1;
        font-size: 18px;
        resize: none;
        border: none;
        outline: none;

        &:hover{
            cursor: pointer;
        }
    }
}
    

.chat-input-action-div{
    width: 100%;
    @include display-flex($jc:space-between);
    margin-bottom: 8px;
}

.send-icon:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(50%) sepia(75%) saturate(2638%) hue-rotate(215deg) brightness(101%) contrast(91%);

}

.add-elements{
    @include display-flex();

    
}

.action-icon-container{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    @include display-flex();
    transition: all 125ms ease;

    >img{
        transition: all 125ms ease;
    }

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(43%) sepia(100%) saturate(4049%) hue-rotate(226deg) brightness(94%) contrast(100%);
    }

}