@import "mixins", "styles";
@import '@ctrl/ngx-emoji-mart/picker';


:host{
    flex:1;
    padding: 30px;
}

.chat-input{
    flex: 1;
    height: 145px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    margin-bottom: 64px;
    padding: 20px 20px 0 20px;
    @include display-flex($fd: column, $jc:space-between, $ai: flex-start);

    &:hover{
        cursor: pointer;
        border: 1px solid $highlight-color-purple;
    }

    >textarea{
        width: 100%;
        flex: 1;
        font-size: 18px;
        resize: none;
        border: none;
        outline: none;

        &:hover{
            cursor: pointer;
        }
    }
}
    

.chat-input-action-div{
    width: 100%;
    @include display-flex($jc:space-between);
    margin-bottom: 8px;
}

.send-icon:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(50%) sepia(75%) saturate(2638%) hue-rotate(215deg) brightness(101%) contrast(91%);

}

.add-elements{
    @include display-flex();

    
}

.action-icon-container{
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    @include display-flex();
    transition: all 125ms ease;

    >img{
        transition: all 125ms ease;
    }

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(43%) sepia(100%) saturate(4049%) hue-rotate(226deg) brightness(94%) contrast(100%);
    }

    &:hover .user-img{
        filter: none !important;
    }

}

.emoticons-container{
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 8px 8px 8px 0;
    @include display-flex();
    padding: 16px;
    gap: 16px;
    height: 400px;
    overflow-y: auto;
}

.emoji-img{
    transition: all 125ms ease;

    &:hover{
        cursor: pointer;
        scale: 1.1;
    }
}

emoji-mart {
    position: absolute;
    bottom: 35px;
    left: 20px;
}

.user-container {
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 8px 8px 8px 0;
    @include display-flex($fd: column, $jc: flex-start);
    padding: 4px ;
    max-height: 200px;
    overflow-y: auto;
    gap: 8px;
}


.user-div{
    @include display-flex($jc: flex-start);
    border-radius: 30px;
    transition: all 125ms ease;
    padding: 4px 20px;
    
    width: 100%;

    &:hover{
        background-color: $bg-color-gray;
        cursor: pointer;
    }
}

.user-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-name{
    white-space: nowrap;
    
}

