<div class="chat-input">
    <textarea placeholder="Nachricht an #{{sendMessagesTo}}"></textarea>

    <div class="chat-input-action-div">
        <div class="add-elements">
            <div class="action-icon-container">
                <img src="./../../../assets/img/emoji_reaction.png">
            </div>
            <div class="action-icon-container">
                <img src="./../../../assets/img/at_reaction.png">
            </div>
        </div>
        <img src="./../../../assets/img/send.png" class="send-icon">
    </div>
</div>