@import "mixins", "styles";

:host{
    flex:1;
    padding: 30px;
}

.chat-input{
    flex: 1;
    height: 145px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    margin-bottom: 64px;
    padding: 20px 20px 0 20px;
    @include display-flex($fd: column, $jc:space-between, $ai: flex-start);

    >textarea{
        width: 100%;
        flex: 1;
        font-size: 18px;
        resize: none;
        border: none;
        outline: none;
    }
}
    

.chat-input-action-div{
    width: 100%;
    @include display-flex($jc:space-between);
}