@import "mixins", "styles";

.header {
  @include display-flex($jc: space-between, $gap: 32px);
  @include size(100%);
  // height: 85px;
  background: $bg-color-gray;
}

.header-left {
  @include display-flex($gap: 16px);
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  > img {
    @include size(70px, 70px);
  }
  > span {
    @include font-style($font-size-24, $font-weight-700, $text-color-black);
  }
}

.header-right {
  @include display-flex($fd: column, $gap: 16px);
  > span {
    @include font-style($font-size-18, $font-weight-400, $text-color-black);
  }
}

.search-bar {
  @include size(990px);
}

.user-profile {
  @include display-flex($gap: 16px);
  > .user-avatar {
    @include size(75px, 75px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
  &:hover {
    cursor: pointer;
    > span {
      color: $secondary-color-purple;
    }
    > .drop_down_arrow {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}
