@import "mixins", "styles", "queries";

header {
  @include size(100%);
  @include display-flex($jc: space-between);
  @include position(relative);
  height: 80px;
}

.padding-left-34 {
  padding-left: 34px;
}

.header-left {
  @include display-flex($gap: 16px, $jc: flex-start);
  width: 360px;
  margin-right: 16px;
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  > img {
    @include size(70px, 70px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
}

.header-center {
  @include display-flex($jc: space-between);
  // @include size(1512px);
  flex: 1 1 auto;
}

.header-right {
  @include display-flex($fd: column);
  @include size(170px);
  > span {
    align-self: center;
    @include font-style($font-size-18, $font-weight-400, $text-color-black);
  }
}

.search-bar {
  // @include size(990px);
  flex: 1 1 auto;
  margin-right: 24px;
  // margin-left: 80px;
}

.user-header-menu {
  @include display-flex($gap: 16px);
  > .user-avatar-wrapper {
    @include position(relative);
    > .online-status {
      @include position(absolute, $bot: 6px, $rig: 0);
      @include size(20px, 20px);
      border-radius: 50%;
      border: 4px solid $bg-color-gray;
      &.online {
        background-color: $online-color-green;
      }
      &.offline {
        background-color: $error-color-red;
      }
    }
    > .user-avatar {
      @include size(75px, 75px);
    }
  }

  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
  &:hover {
    cursor: pointer;
    > span {
      color: $secondary-color-purple;
    }
    > .drop_down_arrow {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}

.dialog-bg {
  @include position(fixed, 0, 0, $zi: 1000);
  @include size(100vw, 100dvh);
  background-color: rgba(0, 0, 0, 0.2);
}

.section-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.drop-down-div {
  position: absolute;
  top: 80px;
  z-index: 5;
  background-color: white;
  border-radius: 12px;
  padding: 12px 0px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.scroll-div {
  width: 100%;
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 0 24px;
}

.user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.user-list {
  @include display-flex($jc: flex-start);
  border-radius: 30px;
  transition: all 125ms ease;
  padding: 4px 20px;
  margin-bottom: 8px;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: $bg-color-gray;
  }
}

.message-list {
  @include display-flex($fd: column, $ai: flex-start);
  border-radius: 30px;
  transition: all 125ms ease;
  padding: 4px 20px;
  margin-bottom: 8px;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: $bg-color-gray;
  }
}

@media only screen and (max-width: $mobile-large) {
  .header-right {
    display: none;
  }

  header {
    justify-content: center;
  }
}


@media(max-width: 1150px){
  .search-bar-input::placeholder {
    opacity: 0; 
  }
}

@media(max-width: 1100px){
  .user-header-menu {  
    > span {
      @include font-style($font-size-24, $font-weight-700, $text-color-black);
    }
}
}

@media (max-width: 900px) {
  .user-header-menu {
    > span {
      display: none;
    }

    > .user-avatar-wrapper {
      > .user-avatar {
        @include size(50px, 50px); 
        margin-top: 8px;
      }

      > .online-status {
        @include position(absolute, $bot: 2px, $rig: 0); 
        @include size(16px, 16px); 
      }
    }
  }

  .search-bar {
    display: none;
  }

  .header-center {
    justify-content: flex-end;
  }

  .drop_down_arrow {
    display: none;
  }

  .header-left {
    width: 161px;
    > img {
      @include size(45px, 45px);
    }
    > span {
      @include font-style($font-size-24, $font-weight-700, $text-color-black);
    }
  }
}