@import "mixins", "styles";

header {
  @include size(100%);
  @include display-flex($jc: space-between);
  @include position(relative);
}

.padding-left-34 {
  padding-left: 34px;
}

.header-left {
  @include display-flex($gap: 16px);
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  > img {
    @include size(70px, 70px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
}

.header-center {
  @include display-flex($jc: space-between);
  @include size(1505px);
}

.header-right {
  @include display-flex($fd: column);
  @include size(170px);
  > span {
    align-self: center;
    @include font-style($font-size-18, $font-weight-400, $text-color-black);
  }
}

.search-bar {
  @include size(990px);
}

// .user-profile-container {
//   @include size(500px);
//   @include display-flex($jc: flex-end);
// }

.user-header-menu {
  @include display-flex($gap: 16px);
  > .user-avatar-wrapper {
    @include position(relative);
    > .online-status {
      @include position(absolute, $bot: 6px, $rig: 0);
      @include size(20px, 20px);
      border-radius: 50%;
      border: 4px solid $bg-color-gray;
      &.online {
        background-color: $online-color-green;
      }
      &.offline {
        background-color: $error-color-red;
      }
    }
    > .user-avatar {
      @include size(75px, 75px);
    }
  }

  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
  &:hover {
    cursor: pointer;
    > span {
      color: $secondary-color-purple;
    }
    > .drop_down_arrow {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}

.dialog-bg {
  @include position(fixed, 0, 0, $zi: 1000);
  @include size(100vw, 100dvh);
  background-color: rgba(0, 0, 0, 0.2);
}

.drop-down-div {
  position: absolute;
  top: 80px;
  z-index: 5;
  // top: 130px;
  // left: 80px;
  background-color: white;
  border-radius: 12px;
  padding: 12px 0px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.drop-down-div2{
  position: absolute;
  top: 180px;
  z-index: 5;
  // top: 130px;
  // left: 80px;
  background-color: white;
  border-radius: 12px;
  padding: 12px 0px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.scroll-div {
  width: 100%;
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 0 24px;
}

.user-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.userList {
  @include display-flex($jc: flex-start);
  border-radius: 30px;
  transition: all 125ms ease;
  padding: 4px 20px;
  margin-bottom: 8px;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: $bg-color-gray;
  }
}
