@import "mixins", "styles";

header {
  @include size(100%);
  @include display-flex($jc: space-between);
  @include position(relative);
}

.padding-left-34 {
  padding-left: 34px;
}

.header-left {
  @include display-flex($gap: 16px);
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  > img {
    @include size(70px, 70px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
}

.header-center {
  @include display-flex($jc: space-between);
  @include size(1505px);
}

.header-right {
  @include display-flex($fd: column);
  @include size(170px);
  > span {
    align-self: center;
  }
}

.search-bar {
  @include size(990px);
}

// .user-profile-container {
//   @include size(500px);
//   @include display-flex($jc: flex-end);
// }

.user-header-menu {
  @include display-flex($gap: 16px);
  > .user-avatar-wrapper {
    @include position(relative);
    > .online-status {
      @include position(absolute, $bot: 6px, $rig: 0);
      @include size(20px, 20px);
      border-radius: 50%;
      border: 4px solid $bg-color-gray;
      &.online {
        background-color: $online-color-green;
      }
      &.offline {
        background-color: $error-color-red;
      }
    }
    > .user-avatar {
      @include size(75px, 75px);
    }
  }

  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
  &:hover {
    cursor: pointer;
    > span {
      color: $secondary-color-purple;
    }
    > .drop_down_arrow {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}

.dialog-bg {
  @include position(fixed, 0, 0, $zi: 1000);
  @include size(100vw, 100dvh);
  background-color: rgba(0, 0, 0, 0.2);
}

