@import "mixins", "styles";

header {
  @include size(100%);
  @include display-flex($jc: space-between);
}

.padding-left-34 {
  padding-left: 34px;
}

.header-left {
  @include display-flex($gap: 16px);
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  > img {
    @include size(70px, 70px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
}

.header-center {
  display: flex;
  align-items: center;
  width: 1505px;
  gap: 16px;
}

.search-bar {
  @include position(relative);
  img {
    @include position(absolute, 18px, $rig: 48px);
    &:hover {
      background-color: $bg-color-gray;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &:hover .search-input:not(:focus):not(:not(:placeholder-shown)) {
    border-color: $border-color-purple;
  }
}

.search-input {
  height: 70px;
  width: 989px;
  outline: none;
  border: 1px solid $bg-color-gray;
  border-radius: 42px;
  padding: 17.5px 45px;
  font-size: $font-size-24;
  &:hover {
    border-color: $border-color-purple;
  }
  &:focus {
    border-color: $secondary-color-purple;
  }
  &:not(:placeholder-shown) {
    border-color: $primary-color-purple;
  }
}

.user-profile-container {
  @include size(500px);
  @include display-flex($jc: flex-end);
}

.user-profile {
  @include display-flex($jc: flex-end, $gap: 24px);
  @include font-style(32px, 700);
  &:hover {
    color: $highlight-color-purple;
    cursor: pointer;
    > .menu-icon {
      filter: invert(32%) sepia(61%) saturate(2933%) hue-rotate(228deg)
        brightness(96%) contrast(97%);
    }
  }
}

.profile-img {
  @include size(70px, 70px);
}

.menu-icon {
  @include size(30px, 30px);
}

.header-right {
  @include display-flex($fd: column, $gap: 16px);
  > span {
    @include font-style($font-size-18, $font-weight-400, $text-color-black);
  }
}

.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.user-profile {
  @include display-flex($gap: 16px);
  > .user-avatar {
    @include size(75px, 75px);
  }
  > span {
    @include font-style($font-size-32, $font-weight-700, $text-color-black);
  }
  &:hover {
    cursor: pointer;
    > span {
      color: $secondary-color-purple;
    }
    > .drop_down_arrow {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}
