@import "mixins", "styles";

@media only screen and (max-width: $mobile-large) {
  .form-header > .header-title > h3 {
    font-size: $font-size-32;
  }

  .auth-inputs > .user-name {
    font-size: $font-size-24;
  }

  .form-header > span,
  footer > .header-right > span,
  .auth-inputs > .avatar-selection .avatar-info {
    font-size: $font-size-16;
  }

  .primary-button,
  .secondary-button,
  .auth-buttons > .auth-input,
  .auth-input,
  .secondary-href,
  .auth-form > .divider > .divider-text,
  .auth-checkbox-container
    > .auth-checkbox-wrapper
    > .auth-checkbox-info-container
    > .auth-checkbox-info {
    font-size: $font-size-14;

    &::placeholder {
      font-size: $font-size-14;
    }
  }

  .auth-input-container > .invalid-input {
    font-size: 10px;
  }

  .content > .content-wrapper {
    padding: 16px;
    // justify-content: center;
  }

  .auth-form {
    padding: 16px 32px;
  }

  .auth-input {
    padding: 10px 15px 10px 60px;
  }

  .auth-button-container {
    gap: 16px;
  }

  .auth-form,
  .auth-inputs {
    gap: 12px;
  }

  .auth-header > header > .header-left {
    justify-content: center;
  }

  .intro > .intro-content > .intro-span {
    font-size: $font-size-46;
  }

  .intro > .intro-content > .logo-container > .logo {
    @include size(100px, 100px);
  }
}

@media only screen and (max-width: $mobile) {
  .form-header > .header-title > h3 {
    font-size: $font-size-24;
  }

  .auth-form {
    padding: 12px 24px;
  }

  .auth-input {
    padding: 10px 15px 10px 50px;
  }

  .auth-input-icon {
    @include position(absolute, 20px, 18px);
    @include size(20px, 20px);
  }

  .auth-input-icon-hover {
    @include size(20px, 20px);
  }

  .auth-input-icon-container {
    left: 12px;
  }

  .primary-button,
  .secondary-button {
    padding: 10px 16px;
  }
}



@keyframes adjust-logo-size-mobile {
  from {
    height: 100px;
  }
  to {
    width: 50px;
    height: 50px;
  }
}

@keyframes logo-slide-top-mobile {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(calc(-50vh + 100px));
    gap: 16px;
  }
}