@import "mixins", "styles";

:host{
    width: 100%;
    flex: 1;
    @include display-flex($fd:column, $jc: space-between);
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
}