@import "mixins", "styles";

:host{
    width: 100%;
    height: 100%;
    flex: 1;
    @include display-flex($fd:column, $jc: flex-start);

    >app-chat-history {
        flex: 1; /* Allow it to take up remaining space */
        min-height: 0; /* Prevent it from exceeding the parent's height */
        overflow: hidden; /* Ensure no overflow issues */
      }
}

.chat-input-container{
    height: 145px;
    width: 100%;
    @include display-flex();
    margin-top: 56px;
}

