@import "mixins", "styles";

:host {
  width: 100%;
}

.message-container {
  position: relative;
  transition: all 125ms ease;
  padding: 8px 40px;
  width: 100%;
  @include display-flex($jc: flex-end, $ai: flex-start);

  &:hover {
    background-color: $bg-color-gray;
  }

  &:hover .message-options-div {
    @include display-flex();
  }
}

.active{
  background-color: $bg-color-gray;
}

.received.message-container {
  justify-content: flex-start;

  &:hover .message-text-div {
    background-color: white;
  }
}

.message-div {
  @include display-flex($fd: column, $ai: flex-end);
}

.received.message-div {
  align-items: flex-start;
}

.profile-img-div {
  @include display-flex($fd: column, $jc: flex-start);
  height: 100%;
  margin-left: 24px;
}

.received.profile-img-div {
  margin-right: 24px;
  margin-left: 0;
}

.profile-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.message-div-header {
  width: 100%;
  @include display-flex($jc: flex-end);
  margin-bottom: 8px;
}

.received.message-div-header {
  justify-self: flex-start;
}

.received.message-div-header {
  justify-content: flex-start;
}

.message-text-div {
  padding: 15px;
  @include display-flex();
  max-width: 678px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(121, 126, 243, 1);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 125ms ease;
}

.received.message-text-div {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $bg-color-gray;
  color: black;
}

.time-span {
  font-size: 14px;
  color: rgba(104, 104, 104, 1);
  margin-right: 16px;
}

.received.time-span {
  margin-left: 16px;
}

.name-span {
  font-size: 18px;
  font-weight: 700;

  &:hover {
    color: $primary-color-purple;
    cursor: pointer;
  }
}

.message-div-footer {
  @include display-flex($jc: flex-end);
  width: 100%;
  gap: 12px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.received.message-div-footer {
  justify-content: flex-start;
}

.reaction-div {
  position: relative;
  width: 63px;
  height: 34px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  padding: 5px 10px;
  @include display-flex();

  &:hover{
    cursor: pointer;
  }

  &:hover .reaction-bubble{
    @include display-flex($fd:column)
  }
}

.reaction-bubble{
  display: none;
  position: absolute;
  bottom: 32px;
  right: 30px;
  padding: 15px 15px;
  border-radius: 30px 30px 0 30px;
  background-color: $highlight-color-cyan;
  color: white;
  font-size: 16px;
  z-index: 400;

}

.reaction-bubble.received{
  right: unset;
  left: 30px;
  border-radius: 30px 30px 30px 0 !important;

}

.reaction-originator-name-span{
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.reaction-bubble-text{
  white-space: nowrap;
}

.reaction-bubble-img{
  margin-bottom: 8px;
}

.reaction-count-span {
  font-size: 16px;
  margin-left: 6px;
}

.add-reaction-icon-container {
  background-color: white;
  @include display-flex();
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: all 125ms ease;
  position: relative;

  &:hover {
    background-color: $bg-color-gray;
  }

  &:hover .add-reaction-icon {
    filter: brightness(0) saturate(100%) invert(39%) sepia(81%) saturate(4856%)
      hue-rotate(229deg) brightness(97%) contrast(95%);
  }

  > .add-reaction-icon {
    transition: all 125ms ease;
  }
}

.message-options-div {
  display: none;
  position: absolute;
  top: -25px;
  left: 35px;
  border: 1px solid rgba(173, 176, 217, 1);
  height: 46px;
  padding: 3px 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: white;
  z-index:99999;
  gap: 5px;
}

.received.message-options-div {
  left: unset;
  right: 35px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0;
}

.emoji-div:hover img {
  filter: none;
}

.answers-count {
  font-size: 18px;
  color: rgba(83, 90, 241, 1);
  transition: all 125ms ease;

  &:hover{
    cursor: pointer;
    scale: 1.025;
  }
}

.last-answer-time {
  font-size: 14px;
  color: rgba(104, 104, 104, 1);

  &:hover{
    cursor: pointer;
    scale: 1.025;
  }
}

.reaction-options{
    position: absolute;
    bottom: 24px;
    right: 24px;
    @include display-flex();
    padding: 8px;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
    z-index: 500;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.secondary-reaction-options{
    position: absolute;
    bottom: 32px;
    left: 24px;
    @include display-flex();
    padding: 8px;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
    z-index: 500;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.received-msg-reaction-options{
    position: absolute;
    bottom: 26px;
    left: 24px;
    @include display-flex();
    padding: 8px;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
    z-index: 500000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.received-msg-reaction-options-2{
    position: absolute;
    bottom: 40px;
    right: 72px;
    @include display-flex();
    padding: 8px;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
    z-index: 500;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


.edit-msg-btns-div{
  position: absolute;
  left: 32px;
  top: 36px;
  width: 269px;
  @include display-flex($fd: column);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  padding: 8px;
  gap: 8px;
}

.edit-msg-btn{
  border: none;
  width: 229px;
  height: 47px;
  @include display-flex();
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border-radius: 30px;
  transition: all 125ms ease;


  &:hover{
      cursor: pointer;
      background-color: $bg-color-gray;
  }
}

.more{
  position: relative;
}

.edit-msg-div{
  @include display-flex($fd: column, $ai: flex-start, $jc: flex-start);
  min-width: 600px;
  padding: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  background-color: white;

  >textarea{
      font-size: 18px;
      color: rgba(104, 104, 104, 1);
      line-height: 24.5px;
      border: none;           
      outline: none;          
      background: transparent;
      resize: none;      
      padding: 0;
  }
}

.thread-edit-div{
  min-width: unset;
  width: 90%;

  .edit-msg-div-footer button{
    width: 130px;
    height: 40px;
  }
}

.edit-msg-div-footer{
  margin-top: 16px;
  width: 100%;
  @include display-flex($jc: space-between);
}

.btn-container{
  width: 306px;
  height: 49px;
  @include display-flex($jc: space-between);

  >button{
      width: 141px;
      height: 49px;
      @include display-flex();
      border-radius: 50px;
      font-size: 18px;
      font-weight: 700;
      transition: all 125ms ease;

      &:hover{
          cursor: pointer;
      }
  }
}

.cancel-btn{
  color: rgba(121, 126, 243, 1);
  background-color: white;
  border: 1px solid rgba(121, 126, 243, 1);
}

.save-btn{
  color: white;
  background-color: rgba(68, 77, 242, 1);
  border: unset;
}

.emoji-img {
  height: 40px;
  width: 40px;
}

.action-icon-container{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  @include display-flex();
  transition: all 125ms ease;

  >img{
      transition: all 125ms ease;
  }

  &:hover{
      cursor: pointer;
      background-color: $bg-color-gray;
  }

  &:hover img{
      filter: brightness(0) saturate(100%) invert(43%) sepia(100%) saturate(4049%) hue-rotate(226deg) brightness(94%) contrast(100%);
  }

}