@if(message!.senderId === currentUser?.id){
    <div class="message-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [class.active]="activatedMessage?.id === message?.id">
        <div class="message-div">
            <div class="message-div-header">
                <span class="time-span">{{ formatMessageTime(message!.timeStamp) }} Uhr</span>
                <span class="name-span">{{ message!.senderName }}</span>
            </div>

            @if(editingMessage){
                <div class="edit-msg-div" [ngClass]="{'thread-edit-div': usedFor === 'thread'}">
                    <textarea [(ngModel)]="message!.messageText" required></textarea>
                    <div class="edit-msg-div-footer">
                        <div class="action-icon-container">
                            <img src="./../../../assets/img/emoji_reaction.png" class="emoji-img">
                        </div>
                        <div class="btn-container">
                            <button class="cancel-btn" (click)="cancelEditing()">Abbrechen</button>
                            <button class="save-btn" (click)="updateMessage()" [disabled]="!message!.messageText.trim()">Speichern</button>
                        </div>
                    </div>
                </div>
            } @else {
                <div class="message-text-div">{{ message!.messageText }}</div>
                <div class="message-div-footer">

                    @if(messageAnswers && messageAnswers.length > 0){
                        <span class="answers-count" (click)="activateThread(message!)">{{messageAnswers.length}} @if(messageAnswers.length > 1){Antworten} @else{Antwort}</span>
                        <span class="last-answer-time" (click)="activateThread(message!)">Letzte Antwort {{lastAnswerTime}}</span>
                    }
        
                    @for (reactionType of groupedReactions | keyvalue; track $index) {
                        <div class="reaction-div" (click)="addReaction(reactionType.key)">
                            <img [src]="'/assets/img/emojis/' + reactionType.key + '.png'">
                            <span class="reaction-count-span"> {{ reactionType.value.length }} </span>
                        </div>

                    }

                    <div class="add-reaction-icon-container" (click)="showMainReactionOptions()">
                        <img src="./../../../assets/img/add_reaction.png" class="add-reaction-icon">
                        
                        @if(mainEmojiOptionsMenu){
                            <div class="reaction-options" (mouseleave)="hideMainEmojiOptions()">
                                <div class="emoji-div icon-container" (click)="addReaction('tick')">
                                    <img src="./../../../assets/img/emojis/tick.png">
                                </div>
                                <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                                    <img src="./../../../assets/img/emojis/hands_up.png">
                                </div>
                                <div class="emoji-div icon-container" (click)="addReaction('nerd_face')">
                                    <img src="./../../../assets/img/emojis/nerd_face.png">
                                </div>
                                <div class="emoji-div icon-container" (click)="addReaction('rocket')">
                                    <img src="./../../../assets/img/emojis/rocket.png">
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            }
            
        </div>
    
        <div class="profile-img-div">
            <img [src]="message!.senderAvatar" class="profile-img">
        </div>
    
    
    
        @if(!editingMessage){
            <div class="message-options-div">
                <div class="emoji-div icon-container" (click)="addReaction('tick')">
                    <img src="./../../../assets/img/emojis/tick.png">
                </div>
                <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                    <img src="./../../../assets/img/emojis/hands_up.png">
                </div>
                <div class="icon-container more" (click)="showSecondaryReactionOptions()">
                    <img src="./../../../assets/img/add_reaction.png">

                    @if(secondaryEmojiOptionsMenu){
                        <div class="secondary-reaction-options" (mouseleave)="hideSecondaryEmojiOptions()">
                            <div class="emoji-div icon-container" (click)="addReaction('tick')">
                                <img src="./../../../assets/img/emojis/tick.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                                <img src="./../../../assets/img/emojis/hands_up.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('nerd_face')">
                                <img src="./../../../assets/img/emojis/nerd_face.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('rocket')">
                                <img src="./../../../assets/img/emojis/rocket.png">
                            </div>
                        </div>
                    }

                </div>
                <!-- <div class="icon-container">
                    <img src="./../../../assets/img/comment.png">
                </div> -->
                <div class="icon-container more" (click)="showEditMessageBtn()">
                    <img src="./../../../assets/img/more_vert.png" alt="">
    
                    @if(editMessageBtnVisible){
                        <div class="edit-msg-btns-div">
                            <button class="edit-msg-btn" (click)="editMessage()">Nachricht bearbeiten</button>
                            <button class="edit-msg-btn" (click)="deleteMessage()">Nachricht löschen</button>
                        </div>
                    }
                </div>
            </div>
        }
        

    </div>
    
} @else {
    <div class="received message-container" [class.active]="activatedMessage?.id === message?.id" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <div class="received profile-img-div">
            <img [src]="message!.senderAvatar" class="profile-img">
        </div>
    
        <div class="received message-div">
            <div class="received message-div-header">
                <span class="name-span">{{ message!.senderName }}</span>
                <span class="received time-span">{{ formatMessageTime(message!.timeStamp) }} Uhr</span>
            </div>
            <div class="received message-text-div">{{ message!.messageText }}</div>
            <div class="received message-div-footer">
                <div class="add-reaction-icon-container" (click)="showMainReactionOptions()">
                    <img src="./../../../assets/img/add_reaction.png" class="add-reaction-icon">

                    @if(mainEmojiOptionsMenu){
                        <div class="received-msg-reaction-options" (mouseleave)="hideMainEmojiOptions()">
                            <div class="emoji-div icon-container" (click)="addReaction('tick')">
                                <img src="./../../../assets/img/emojis/tick.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                                <img src="./../../../assets/img/emojis/hands_up.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('nerd_face')">
                                <img src="./../../../assets/img/emojis/nerd_face.png">
                            </div>
                            <div class="emoji-div icon-container" (click)="addReaction('rocket')">
                                <img src="./../../../assets/img/emojis/rocket.png">
                            </div>
                        </div>
                    }
                </div>
                @for (reactionType of groupedReactions | keyvalue; track $index) {
                    <div class="reaction-div" (click)="addReaction(reactionType.key)">
                        <img [src]="'/assets/img/emojis/' + reactionType.key + '.png'">
                        <span class="reaction-count-span"> {{ reactionType.value.length }} </span>
                    </div>

                }
                
                @if(messageAnswers && messageAnswers.length > 0){
                    <span class="answers-count" (click)="activateThread(message!)">{{messageAnswers.length}} @if(messageAnswers.length > 1){Antworten} @else{Antwort}</span>
                    <span class="last-answer-time" (click)="activateThread(message!)">Letzte Antwort {{lastAnswerTime}}</span>
                }
                
            </div>
        </div>
    
        
    
        <div class="received message-options-div">
            <div class="emoji-div icon-container" (click)="addReaction('tick')">
                <img src="./../../../assets/img/emojis/tick.png" alt="">
            </div>
            <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                <img src="./../../../assets/img/emojis/hands_up.png" alt="">
            </div>
            <div class="icon-container" (click)="showSecondaryReactionOptions()">
                <img src="./../../../assets/img/add_reaction.png" alt="">

                @if(secondaryEmojiOptionsMenu){
                    <div class="received-msg-reaction-options-2" (mouseleave)="hideSecondaryEmojiOptions()">
                        <div class="emoji-div icon-container" (click)="addReaction('tick')">
                            <img src="./../../../assets/img/emojis/tick.png">
                        </div>
                        <div class="emoji-div icon-container" (click)="addReaction('hands_up')">
                            <img src="./../../../assets/img/emojis/hands_up.png">
                        </div>
                        <div class="emoji-div icon-container" (click)="addReaction('nerd_face')">
                            <img src="./../../../assets/img/emojis/nerd_face.png">
                        </div>
                        <div class="emoji-div icon-container" (click)="addReaction('rocket')">
                            <img src="./../../../assets/img/emojis/rocket.png">
                        </div>
                    </div>
                }
            </div>
            <div class="icon-container" (click)="activateThread(message!)">
                <img src="./../../../assets/img/comment.png" alt="">
            </div>
        </div>
    </div>



}




