<div class="message-container">
    <div class="message-div">
        <div class="message-div-header">
            <span class="time-span">15:06 Uhr</span>
            <span class="name-span">Frederik Beck</span>
        </div>
        <div class="message-text-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nesciunt tempore veritatis a laboriosam rem praesentium sit porro. Ab molestiae quisquam corrupti. Impedit unde eos odio dolor, aut cumque maxime.</div>
        <div class="message-div-footer">
            <div class="reaction-div">
                <img src="./../../../assets/img/rocket_emoji.png">
                <span class="reaction-count-span">1</span>
            </div>
            <div class="reaction-div">
                <img src="./../../../assets/img/tick_emoji.png">
                <span class="reaction-count-span">1</span>
            </div>
            <div class="add-reaction-icon-container">
                <img src="./../../../assets/img/add_reaction.png" class="add-reaction-icon">
            </div>
           
        </div>


    </div>

    <div class="profile-img-div">
        <img src="./../../../assets/img/avatar_1_large.png" class="profile-img">
    </div>
</div>
